.leftSectionBorders {
    border-top: thick solid;
    border-right: thick solid;
    margin-right: 1px;
    margin-top: 2px;
}

.rightSectionBorders {
    border-top: thick solid;
    border-left: thick solid;
    margin-left: 1px;
    margin-top: 2px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
  
.leftandRight-box {
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex
}

.image-container {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.image-container img {
    max-width: 400px;
    height: auto;
    border-radius: 100%;
    min-width:100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    /* color:#111940; */
    font-size: 1.1em;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #111940;
    border-radius: 5px;
}
.form-container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #111940;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}